{% extends "admin/m_base_site.html" %}
{% block title %}{{ page }} 每日精选|说出那些让你久久不能移开视线的...{% endblock %}
{% load admin_static %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" language="javascript" src="{% static 'good/js/good_day_words.js'%}"></script> 
<script type="text/javascript" language="javascript" src="{% static 'good/js/good_day_words.1.js'%}"></script> 
<script type="text/javascript" language="javascript" src="{% static 'basedata/js/comment.js'%}"></script> 

{{ media }}
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'basedata/css/m_daywords_comm.css'%}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'basedata/css/m_daywords_index.css'%}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'basedata/css/m_comment.css'%}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'good/css/comm.css'%}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/m_background_div.css'%}" />
{% endblock %}

{% block content %}
<div class="background_div"> 
</div>
<div class="l3_main_div">
{% if day_word %}
	{% load tz %}
	<div class="detail"  > 
		<input type="hidden" class="word_id" value="{{ day_word.id}}"/>
	    <h3 class="title"><label  class="title date">{{ day_word.date  |date:" Y-m-d  H:i:s "}}</label >
        {% if request.user.is_superuser %}<label  class="title username">{{ day_word.user.get_full_name }}</label >{% endif %}</h3>
	    <label for="date" class="heartbeat_content" name="words" >{{ day_word.content }}</label>
		<hr />
		<i class="fa {% if Praised %} fa-heart {% else %} fa-heart-o {% endif %}">喜欢{{day_word.good_count}}</i>
		<i class="fa  fa-comment-o fa-1x ">评论{{ comment_ls.count }}</i>
       
        {% for comment_e in comment_ls %} 
        <div class="comment_div">
        <div class="comment_left_div">
            <div class="comment_portrait portrait" id="id_user_portrait" style="background-image:url('{{comment_e.comment.commenter.head_portrait}}')"></div>
        </div>
        <div class="comment_right_div">
           <h3 class="comment_title"><label  class="comment_title date">{{ comment_e.comment.date  |date:" Y-m-d  H:i:s "}}</label >
        {% if request.user.is_superuser %}<label  class="comment_title username">{{ comment_e.comment.commenter.get_full_name }}</label >{% endif %}</h3>
          <label for="date" class="heartbeat_comment" name="words" >{{ comment_e.comment.content }}</label>
          </div>
          </div>
          <hr class="comment_hr">
        {% endfor %}
	 </div>
      
{% endif %}
</div>
{% endblock %}
 {% block footer %} 
 <script type="text/javascript" language="javascript" src="{% static 'js/m_background_div.js'%}"></script>
 <div id="footer"> 
 <textarea onkeyup="auto_grow(this)" id="day_words_comment_conent"></textarea> 
       
        <input type="button" class="comment_sent" id="day_words_comment_conent_btn"value="评论" />
        </div>
 {% endblock %}