{% extends "admin/m_base_site.html" %}
{% block title %}{{ page }} 每日精选|说出那些让你久久不能移开视线的...{% endblock %}
{% load admin_static %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" language="javascript" src="{% static 'good/js/good_day_words.js'%}"></script> 
<script type="text/javascript" language="javascript" src="{% static 'good/js/good_day_words.1.js'%}"></script> 
<script type="text/javascript" language="javascript" src="{% static 'basedata/js/m_index.js'%}"></script> 
{{ media }}
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'basedata/css/m_daywords_comm.css'%}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'basedata/css/m_daywords_index.css'%}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'good/css/comm.css'%}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/m_background_div.css'%}" />
{% endblock %}

{% block content %}
<div class="background_div"> 
</div>
<div class="l3_main_div">
{% if words_list %}
	{% load tz %}
	{% for each_word in words_list %} 
	<div class="detail"  > 
		<input type="hidden" class="word_id" value="{{ each_word.word_id}}"/>
	    <h3 class="title"><label  class="title date">{{ each_word.date  |date:" Y-m-d  H:i:s "}}</label >
        {% if request.user.is_superuser %}<label  class="title username">{{ each_word.username }}</label >{% endif %}</h3>
	    <label for="date" class="heartbeat_content" name="words" >{{ each_word.words }}</label>
		<hr />
		<i class="fa {% if each_word.isPraised %} fa-heart {% else %} fa-heart-o {% endif %}">喜欢{{each_word.count}}</i>
		<a class="a_go_comment" href="{% url 'base:go_comment' each_word.word_id %}"><i class="fa  fa-comment-o fa-1x ">评论{{each_word.comment_count}}</i></a>
	 </div>
{% endfor %}
{% endif %}
</div>
<div id="sub_menu_footer"> 
{% if page = "change" %}
<div class="sub_menu_list_div"><a class="sub_menu_list_a" href="{% url 'ticket:openTicket'  %}"><i class="fa fa-sitemap sub_menu_list_i"></i><div class="sub_link_text">开Ticket</div></a></div>
{% endif %} 	
<div class="sub_menu_list_div"><a class="sub_menu_list_a" href="{% url 'ticket:index' %}"><i class="fa fa-users sub_menu_list_i"></i><div class="sub_link_text">ticket列表</div></a></div>
 	 		   
</div>
{% endblock %}
 {% block footer %}
 <script type="text/javascript" language="javascript" src="{% static 'js/m_background_div.js'%}"></script>
 {% endblock %}