{% extends 'm_base.html' %} {% block css %} {% load staticfiles %}
<link href="/static/products/css/m_lists.css" rel="stylesheet"> {% endblock %} {% block content %}
<!-- 顶部 -->
<header id="nav">

    <div class="list-title">购物车</div>
    <i class="fa fa-commenting pull-right f18" aria-hidden="true"></i>

</header>
<!-- 要购买的商品 -->
{% if ruleitems %}
{% for rule in ruleitems %}
     <div class="list carlist">
        <div class="img_parent col-xs-3 col-sm-3"> <img src="{{mediaroot}}{{rule.rule.product.thumbnail}}"></div>
        <div class="col-xs-7 col-sm-7 list_center">
            <div>{{rule.rule.product.title|truncatechars:"20"}}
            </div>
            <div >规格：{{rule.rule.name}}
                </div>
            <div><i class="fa fa-jpy" aria-hidden="true"></i> <span class="price add_price carprice">{{rule.rule.price}}</span>
            </div>
        </div>
    
        <div class="col-xs-2 col-sm-2 number f20">
            <div class="addition">+</div>
            <div class="display carnum">{{rule.quantity}}</div>
            <div class="subtraction">-</div>
        </div> 
    </div>
    {% endfor %}
{% else %}
购物车中没有物品
{%endif%}


<!-- 结账按钮 -->
<footer class="text-center " id="footer ">
    <div class="pull-left menu-left ">
        总金额为：<i class="fa fa-jpy" aria-hidden="true"></i><span class="price sum_price"> 0.00</span>
    </div>

    <a href="javascript:; ">
        <div class="pull-right menu-right ">去结算</div>
    </a>
</footer>
</div>

{% include 'recommend.html' %}
<script>
    var sum = 0;
    {% if ruleitems %}
{% for rule in ruleitems %}
sum += {{rule.rule.price}} * {{rule.quantity}};
{% endfor %}
{% endif%}
$('.sum_price').text(sum);
</script>
<script>
    $('.ware_img').height($('.ware_img').width() + 'px');
    $('.img_parent').height($('.img_parent').width() + 'px');
    $('.number').height($('.img_parent').height() + 'px');
    $('.number div').height($('.number').height() / 3 + 'px');
    $('.number div').css('line-height', $('.number div').height() + 'px');
    /* 增减商品个数 计算总价格*/
    function cal_sum() {
        var products = $('.carlist');
        var price = 0.0;
        var num = 0;
        var sum = 0; //tatol money

        for (var i = 0; i < products.length; i++) {
            price = parseFloat($(products[i]).find('.carprice').text());
            num = parseFloat($(products[i]).find('.carnum').text());
            sum += price * num;
        }

        return sum;
    };
    //加
    $('.number').on("click", '.addition', function() {
        var quantity = $(this).next().text();
        quantity = parseInt(quantity);
        $(this).next().text(quantity + 1);
        var sum = cal_sum();
        $('.sum_price').text(sum.toFixed(2));

    });

    //减

    $('.number').on("click", '.subtraction', function() {
        var quantity = $(this).prev().text() - 0;
        var quantity = parseInt(quantity);
        if (quantity < 1) {
            $(this).prev().text('0');
        } else {
            $(this).prev().text(quantity - 1);
            var sum = cal_sum();
            $('.sum_price').text(sum.toFixed(2));
        };
    });
</script>{% endblock %}
{% block menucart %} menu-act {% endblock %}