/* 
 *评价编辑
 */

.com_edit{
    background-color: #fefefe;
    padding:15px; 
    margin:20px 0px;
    border-top:1px solid #ddd; 
    border-bottom:1px solid #ddd;
}
button.publish{
    background: #306efe linear-gradient(120deg,#30cde2 0,#306efe 100%) no-repeat;
    border: none;
    line-height:1.5;
    padding:6px 14px;
    }
.star{
    color: #bbb;
    margin-bottom: 15px;
}
.red_star{
    color:rgb(201,22,35);
}
#com_textarea{
    min-height: 100px;
    width: 100%;
}
textarea{
    margin: 5px auto;
}
.star .fa-star,.fa-commenting,.txt_commenting,.txt_delete{
    cursor:pointer;
}
/* 
 *评论列表
 */
.com_content {
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    overflow: hidden;
}
.com_con_detail{
    margin-left:-15px; 
}
.user-img img {
    width:50px;
    height: 50px;
    border-radius: 50%;
}

.user-name {
    color:#2196f3;
}

.txt_commenting,.txt_delete{
    color:#bbb;
    padding: 0 5px;
    font-size:12px 
}
.txt_commenting:hover,.txt_commenting:active,.txt_delete:hover,.txt_delete:active{
    color:#2196f3;
}
.commenting {
    overflow: hidden;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.grey_font {
    color: #999;
    font-size: 12px;
}

/* 图片显示（完了换类名）
.thumbnail{
    width: 68px;
    height: 68px;
    margin: 0px;
}
.thumbnail>img{
    height:100%;
    width: 100%;
}

.thumbnail_list{
    clear: left;
}
.thumbnail_list li,.com_content li{
display: inline-block;
vertical-align:middle;
} */
/* .img_magnify{
    width:30%;
}
#big_img{
    display: none;
    max-width:100%;
    max-height: 400px;
    border: 1px solid #ddd;
    border-radius:4px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2),0 5px 10px rgba(0, 0, 0, .1);
    margin-top: 10px;
    margin-bottom: 10px;
} */



.reply{
    display: none;
}
.com_con_txt{
    margin: 5px auto;
    clear: both;
}
.reply_list li{
    display: inline-block;
}
ul.reply_list{
    margin-left:20px; 
    line-height: 1.5;
}
.reply_btn{
    outline: none;
    border: 1px solid #306efe;
    background-color: transparent;
    color: #306efe;
    border-radius:4px; 
}
.reply_btn:hover{
    background-color: #306efe;
    color: #fff;
    background-color: #0d59ff;
}