/* 初始化区域 */

body {
    margin: 0px;
    padding: 0px;
    font-family: Microsoft YaHei;
    padding-bottom: 40px;
}

a {
    color: inherit;
}

input {
    -webkit-appearance: none;
    /*delete ISO browser shadow*/
}


/* 通用样式区域 */

div.nav div.pull-left {
    text-align: center;
    box-sizing: border-box;
    width: 25%;
}

div.nav {
    background-color: #fff;
    color: #17324D;
    z-index: 1;
    position: fixed;
    top: 100%;
    width: 100%;
    transform: translateY(-100%);
    border-top: 1px solid #eee;
    padding-top: 2px;
}

.activate {
    color: rgb(254, 112, 60);
}

.block {
    display: block;
}

.i-block {
    display: inline-block;
}

.f12 {
    font-size: 12px;
}

.f10 {
    font-size: 10px;
}

.f14 {
    font-size: 14px;
}

.f20 {
    font-size: 20px;
}

.f18 {
    font-size: 18px;
}

.f24 {
    font-size: 24px;
}

i.fa-2x+div {
    font-size: 10px;
}

.header {
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    height: 36px;
    overflow: hidden;
    padding: 0px 10px;
}

.cut-off {
    border-bottom: 1px solid #ccc;
}