body {
    margin: 0px;
    padding: 0px;
    background-color: #f7f8f9;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

a {
    color: inherit;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.bd-left {
    border-left: 1px solid #ddd;
}

header {
    width: 1080px;
    margin: 0px auto;
    padding: 10px 0px;
}

.header-wrap {
    background-color: rgb(247, 248, 249);
}

nav {
    width: 1080px;
    height: 100%;
    margin: 0px auto;
    font-size: 14px;
    line-height: 50px;
}

.font-gray {
    color: #707473;
}

.search {
    border: 0px;
    background-color: inherit;
}

li {
    display: inline-block;
}

header ul.pull-left li {
    margin-right: 16px;
}

header ul.pull-right li {
    padding: 0px 16px;
}

header ul.pull-right {
    margin-right: -16px;
}

a:hover {
    color: #f84545;
}

nav ul.pull-left li {
    padding-right: 32px;
}

nav li:hover {
    color: #f84545;
    font-size: 15px;
}

.nav-wrap {
    background-color: #fff;
    width: 100%;
}

.fa-angle-down {
    margin-left: 8px;
}

.fa-angle-right {
    margin-left: 64px;
}

#search-form {
    width: 280px;
    padding: 0 10px;
    line-height: 2;
    margin-top: 10px;
}