/*
 * 更改默认
 */
*{
    z-index: 2;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(239,240,241);
    padding-bottom: 230px;
    position: relative;
}
li{
    
    list-style-type: none;
}
header ul li,nav ul li {
    display: inline-block;
}

ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

a {
    color: inherit;
}

a:hover,
a:active {
    text-decoration: none;
}
/*
 *通用
 */
.font-gray {
    color: #707473;
}
.del_padding{
    margin: 0 -15px;
}

/*
 * header
 */

.header-wrap {
    background-color: rgb(201,22,35);
    border-bottom: 1px solid #ddd;
}

header {
    width: 80%;
    margin: 0px auto;
    line-height: 50px;
    height: 50px;
    color: #fff;
}

.fa-shop {
    font-size: 16px;
    margin-right: 5px;
}

.badge {
    display: inline-block;
    padding: 1px 4px;
    font-size: 8px;
    font-weight: 300;
    line-height: 1;
    color: rgb(201,22,35);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 50%;
}


/*
 * 菜单item
 */

nav {
    width: 80%;
    margin: 0px auto;
    line-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
}

.search {
    border: 0px;
    outline: 0px;
    background-color: transparent;
}

nav ul.pull-left li {
    width: 100px;
    text-align: center;
}

nav li:hover {
    font-size: 15px;
}

.nav-wrap {
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16), 0px 2px 2px rgba(0, 0, 0, 0.08);
}

.fa-angle-down {
    margin-left: 8px;
}

#search-form {
    position: absolute;
    right: 0%;
    padding-left: 6px;
    line-height: 30px;
}

nav ul.pull-left li.logo {
    width: auto;
}


/*
 * footer
 */

footer {
    z-index: 1;
    position: absolute;
     bottom:0px;
    background-color: #757575;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    height:200px;
}

footer>div {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer>span {
    display: inline-block;
}

header ul.pull-left li {
    padding-right: 16px;
}

header ul.pull-right li {
    padding: 0px 16px;
}

header ul.pull-right {
    margin-right: -16px;
}

section {
    width: 80%;
    margin: 20px auto;
}

.title {
    color: rgb(201,22,35);
    margin-top: 20px;
    font-size: 20px;
}

.bd-left {
    border-left: 1px solid #ddd;
}

.breadcrumb {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0px;
    border: 1px solid #ddd;
}

.btn-primary {
    background-color: #4b9be0;
    border-color: #337ab7;
}
.price{
    color: rgb(201,22,35);
}
.margin-30{
    margin-left:-30px;
    margin-right: -30px;
}