/* 初始化区域 */

body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 40px;
    font-size: 12px;
    color: #212121;
}
ul{
    padding: 0px;
}
a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

input {
    -webkit-appearance: none;
    /*delete ISO browser shadow*/
}


/* 通用样式区域 */

div.menu div.pull-left {
    text-align: center;
    box-sizing: border-box;
    width: 25%;
}

div.menu {
    background-color: #fff;
    color: #17324D;
    z-index: 1;
    position: fixed;
    top: 100%;
    width: 100%;
    transform: translateY(-100%);
    border-top: 1px solid #eee;
    padding-top: 2px;
    height: 50px;
}

.activate {
    color: #e53935;
}

.block {
    display: block;
}

.i-block {
    display: inline-block;
}

.f12 {
    font-size: 12px;
}

.f10 {
    font-size: 10px;
}

f8 {
    font-size: 8px;
}

.f14 {
    font-size: 14px;
}

.f20 {
    font-size: 20px;
}

.f16 {
    font-size: 18px;
}

.f18 {
    font-size: 16px;
}

.f26 {
    font-size: 26px;
}

i.fa-2x+div {
    font-size: 10px;
}

.header {
    position: fixed;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    width: 100%;
    height: 40px;
    overflow: hidden;
    padding: 0px 10px;
    border-bottom: 1px solid #ddd;
}

.cut-off {
    border-bottom: 1px solid #ddd;
}


/* wwwqewqewqeqwewqewqewqe */

.menu-act {
    color: #e53935;
}

div.menu-act img {
    border: 0px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari 和 Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
    position: relative;
    top: -3px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
}

.menu img {
    width: 30px;
    height: 30px;
}

.font-grey{
    color: #757575;
}

.fa-jpy{
    color:#e53935;
    font-size: 10px;
}
   
.price {
    color: #e53935;
    font-size: 20px;
}