/* 初始化区域 */

body {
    margin: 0px;
    padding: 0px;
    font-family: Microsoft YaHei;
    padding-bottom: 40px;
    font-size: 12px;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

input {
    -webkit-appearance: none;
    /*delete ISO browser shadow*/
}


/* 通用样式区域 */

div.menu div.pull-left {
    text-align: center;
    box-sizing: border-box;
    width: 25%;
}

div.menu {
    background-color: #fff;
    color: #17324D;
    z-index: 1;
    position: fixed;
    top: 100%;
    width: 100%;
    transform: translateY(-100%);
    border-top: 1px solid #eee;
    padding-top: 2px;
}

.activate {
    color: #f84545;
}

.block {
    display: block;
}

.i-block {
    display: inline-block;
}

.f12 {
    font-size: 12px;
}

.f10 {
    font-size: 10px;
}

.f14 {
    font-size: 14px;
}

.f20 {
    font-size: 20px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

i.fa-2x+div {
    font-size: 10px;
}

.header {
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    height: 36px;
    overflow: hidden;
    padding: 0px 10px;
    border-bottom: 1px solid #ddd;
}

.cut-off {
    border-bottom: 1px solid #ddd;
}


/* wwwqewqewqeqwewqewqewqe */

.menu-act {
    border-radius: 50%;
    box-shadow: 1px 3px 3px #666;
    position: relative;
    top: -8px;
}

.menu img {
    width: 30px;
    height: 30px;
}