/* 初始化区域 */

body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 40px;
    font-size: 12px;
    color: #212121;
}
ul{
    padding: 0px;
}
a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: inherit;
}

input[type=text] {
    -webkit-appearance: none!important;
    /*delete ISO browser shadow*/
}


/* 通用样式区域 */

div.menu {
    display: table;
    background-color: #fff;
    color: #17324D;
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eee;
    line-height: 1.2;
}

div.menu>a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 25%;
}

.activate {
    color: rgb(201,22,35);
}

.block {
    display: block;
}

.i-block {
    display: inline-block;
}

.f12 {
    font-size: 12px;
}

.f10 {
    font-size: 10px;
}

f8 {
    font-size: 8px;
}

.f14 {
    font-size: 14px;
}

.f20 {
    font-size: 20px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f26 {
    font-size: 26px;
}

i.fa-2x+div {
    font-size: 10px;
}

.header {
    position: fixed;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    width: 100%;
    height: 40px;
    overflow: hidden;
    padding: 0px 10px;
    border-bottom: 1px solid #eee;
}

.cut-off {
    border-bottom: 1px solid #ddd;
}


.menu-act {
    color: rgb(201,22,35);
}

.font-grey{
    color: #757575;
}

.fa-jpy{
    color:rgb(201,22,35);
    font-size: 10px;
    margin-right: 4px;
}
   
.price {
    color: rgb(201,22,35);
    font-size: 20px;
}