header {
    position: fixed;
    top: 5px;
    z-index: 10;
    color: #fff;
    width: 100%;
}
body{
    background-color:#f6f6f6;
}
.submenu {
    width: 20%;
    text-align: center;
    box-sizing: border-box;
}

.submenu img {
    display: block;
    margin: 10% auto 5%;
    width: 55%;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.search {
    background-color: rgba(225, 225, 225, 0.12);
    border: 1px solid #ddd;
    height: 34px;
}

.pagination-2 {
    position: relative;
    top: 2px;
    text-align: center;
}

#swiper-container img {
    width: 100%;
}

.subnav-wrap {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    top: -20px;
    z-index: 100;
    background-color: #f6f6f6; 
}

.search input {
    border-width: 0px;
    background: none;
    outline: none;
    width: 90%;
    height: 100%;
}

.col-xs-2 {
    padding: 0px;
}
.recommend_title{
    width: 50%;
}