li {
    display: inline;
}


button.btn-block:hover{
    color: #eee;
}
form {
    margin: 0 5%;
}

button.btn {
    border-radius: 4px;
    font-size: 14px;
    background-color: #17324D;
    color: #fff;
}

.btn,
.form-control {
    height: 47px;
}

#app-name {
    color: #e53935;
}

label.error {
    color: #d9534f;
    margin: 0px;
}

input.error {
    border-color: #d9534f;
}