{% extends 'base.html' %} {% block css %}

<link href="/static/products/css/products.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.css"> {% endblock %} {% block content %}

<header class="header f20">
    <a class="pull-left" href="http://192.168.1.102:8000/"><i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i></a>
    <a class="pull-right" href="javascript:;"><i class="glyphicon glyphicon-share-alt"></i></a>
</header>

<!-- swiper -->
<div id="swiper-container" class="swiper-container text-center">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide-1">
            <img src='/static/img/sexy.png' /> </div>
        <div class="swiper-slide slide-2">
            <img src='/static/img/sexy2.png' /> </div>
        <div class="swiper-slide slide-3">
            <img src='/static/img/sexy3.png' /> </div>
    </div>
</div>
<!-- swiper end-->

<!-- 子导航栏-->
<div class="sub-nav">
    <nav id="myTab" class="nav nav-tabs">
        <ul id="myTab">

            <li class="active"> <a href="#main" data-toggle="tab">商品 </a></li>


            <li><a href="#details" data-toggle="tab">详情</a></li>


            <li><a href="#comment" data-toggle="tab">评价</a></li>

        </ul>

    </nav>
</div>
<!-- 子导航栏  结束-->



<div id="myTabContent" class="tab-content">

    <!-- 商品页 -->
    <div class="tab-pane fade in active" id="main">
        <div class="item_name f18">
            商品名称
        </div>
        <p class="msg">此处可以叠加一些简要说明</p>
        <div>￥188.8
        </div>
        <div class="cut-off "></div>
        <div>
            商品规格选择
            <i class="glyphicon glyphicon-option-horizontal "></i></div>
        <div class="cut-off "></div>
    </div>

    <!--详情页-->
    <div class="tab-pane fade " id="details">
        <div class="tb-wrap ">
            <table class="table table-bordered ">
                <tr>
                    <th>名称</th>
                    <th>属性</th>
                </tr>
                <tr>
                    <td>name</td>
                    <td>xxxxxxxxxxxx</td>

                </tr>
                <tr>
                    <td>number</td>
                    <td>12343242352345423</td>

                </tr>
                <tr>
                    <td>color</td>
                    <td>red</td>
                </tr>
            </table>
        </div>
        <div>
            <div> <img src='/static/img/sexy3.png' width="100% " />
            </div>
            <div>
                <p class="f22 ">产品特色</p>
                <p>详细的说明</p>

            </div>
        </div>
    </div>

    <!--评价页-->
    <div class="tab-pane fade " id="comment">
        <ul>
            <a href="javacript:; ">
                <li>全部</li>
            </a>
            <a href="javacript:; ">
                <li>有图</li>
            </a>
            <a href="javacript:; ">
                <li>好评</li>
            </a>
            <a href="javacript:; ">
                <li>差评</li>
            </a>
        </ul>
        <div>
            <div class="user-img "> <img src='/static/img/ic2.png' /></div>
            <div class="comment">
                <table class="comment ">
                    <tr>
                        <td>用户昵称</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <div class="comment ">2017-09-20</div>

                <div class="comment ">评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容 评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容 评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容 评论内容评论内容
                </div>
                <div class="comment "></div>
            </div>

        </div>
    </div>
</div>

{% endblock %} {% block menu %}
<!--footer-->
<div class="menu">
    <ul class="pull-left ">
        <li>
            <i class="fa fa-heart-o " aria-hidden="true "></i>
        </li>
        <li>
            <i class="glyphicon glyphicon-shopping-cart "></i>
        </li>
        <li>
            <i class="glyphicon glyphicon-send "> </i>
        </li>
    </ul>
    <div class="pull-right ">购买</div>
</div>
{% endblock %} {% block js %}
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script type="text/javascript " src="/static/js/shop.js "></script>
<script>
    $('#swiper-container').height($('#swiper-container').width() * 0.9 + 'px');
</script>
{% endblock %}