{% extends 'base.html' %} {% block css %}

<link href="/static/products/css/products.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.css"> {% endblock %} {% block content %}

<header class="font-18">
    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
</header>

<!-- swiper1 -->
<div id="swiper-container" class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/static/img/sli1.jpg"></div>
        <div class="swiper-slide"><img src="/static/img/sli3.jpg"></div>
        <div class="swiper-slide"><img src="/static/img/sli2.jpg"></div>
    </div>
</div>
<!-- swiper1 end-->



{% endblock %} {% block js %}
<script type="text/javascript" src="/static/js/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="/static/js/shop.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        autoplay: 3000,
        speed: 300,
    });
    var mySwiper2 = new Swiper('.swiper-container-2', {
        pagination: '.swiper-pagination2',
        prevButton: '.swiper-button-prev2',
        nextButton: '.swiper-button-next2',
    });
</script>
{% endblock %}