{% extends 'm_base.html' %} {% block css %}

<link href="/static/products/css/products.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <form action="" method="post">
        {%csrf_token%}
       <input type="file" name="" />
       <input type="hidden" name="method" value="detail_file" />
       <input type="submit" value="upload" />
    </form>
    <textarea id="editor" placeholder="Balabala" autofocus></textarea>
{% endblock %}
 
 {% block js %}
<script src="/static/plugins/tinymce_4.6.6/tinymce/tinymce.min.js"></script>
<script src="/static/plugins/tinymce_4.6.6/tinymce/languages/zh_CN.js"></script>
<script>
    var da = new Date(1781713563);
    var d2a = new Date(366834064);
    var d3a = new Date(410509574);
    tinymce.init({
        selector: 'textarea',
        height: 500,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code help'
        ],
        toolbar: 'insert | undo redo |  styleselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css']
        });
        tinymce.addI18n('zh_CN', {
        
        });
</script>
{% endblock %}