{% extends 'base.html' %}
{% load i18n %}
{% block pagetitle%}修改商品信息{% endblock%}
 {% block css %}
<link href="/static/products/css/new.css" rel="stylesheet"> {% endblock %} 
{% block content %}
<form action="" method="post">
    {%csrf_token%} 
    <input type="hidden" name="method" value="detail_file" /> 
    {% if product %}
    <input type="hidden" name="productid" id="productid" value="{{product.id}}" /> 
    {% endif %}
</form>

<section>
    <!-- 路径导航 -->
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="{% url 'product:products' %}">商品列表</a></li>
        <li class="active">发布商品</li>
        <div class="title">发布商品 </div>
    </ol>


    <div  class="form-horizontal">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">商品类型：</label>
            <div class="col-sm-4">
                <select class="form-control " id="sel-category">
                    {% for category in categories %}
                           {% if product.category.id == category.id %}
                                <option value ="{{category.id}}" selected="selected">{{category.name}}</option>
                                {% else %}
                                <option value ="{{category.id}}"  >{{category.name}}</option>
                           {% endif %}
                    {% endfor%}
                </select>
            </div>
            <label for="id" class="col-sm-2 control-label">商品名称：
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="title" id="title" value="{{product.title}}" placeholder="">
            </div>

        </div>
        
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">{% trans 'Product Detail' %} {% trans 'hot product' %}</label>
            <div class="col-sm-10 ta-wrap">
                <input type="text" class="form-control" name="desc" value="{{product.description|default:''}}" id="desc" placeholder="">
                <span>0/50</span>
            </div>

        </div>

        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">商品详情：</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="detail" rows="3">{{product.detail|default:''}}</textarea>
            </div>

        </div>


        <div class="form-group gray-white">
            <label for="message" class="col-sm-2 control-label">规格设置：</label>
            <div class="col-sm-10 format">
                <div class="form-inline add-inp">

                    <div class="form-group">

                        <input type="text" class="form-control" id="name" placeholder="名称">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="rule" placeholder="规格">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="price" placeholder="价格">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="inventory" placeholder="库存">
                    </div>
                    <button type="button" class="btn btn-primary add-rule blue-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>

                </div>
                {% if product %}
                <table class="table table-hover table-bordered" id="tb_rule">
                    <tr>
                        <th>是否有订单</th>
                        <th>名称</th>
                        <th>型号</th>
                        <th>价格</th>
                        <th>库存</th>
                        <th>删除</th>
                    </tr>

                    {% for rule in product.adaptorrule_set.all %}
                    <tr class="tr_rule" ruleid="{{rule.id}}">
                        {% if rule.adaptorbillitem_set.all %}
                        <td class="hasbiil">有</td>
                        {% else  %}
                        <td class="hasbiil">有</td>
                        {% endif  %}
                        <td class="name">{{rule.name}}</td>
                        <td class="unit">{{rule.unit}}</td>
                        <td class="price">{{rule.price}}</td>
                        <td class="inv">{{rule.real_inventory}}</td>
                        <td><i class="fa fa-trash-o " aria-hidden="true"></i></td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <table class="table table-hover table-bordered" id="tb_rule">
                        <tr>
                            <th>名称</th>
                            <th>型号</th>
                            <th>价格</th>
                            <th>库存</th>
                            <th>删除</th>
                        </tr> 
                    </table>
                {% endif %}
            </div>
        </div>

        <div class="form-group gray-white">
            <label for="message" class="col-sm-2 control-label">属性设置：</label>
            <div class="col-sm-10 format">
                <div class="form-inline"> 
                    <div class="form-group">
                        <input type="text" class="form-control" id="pro" placeholder="属性名称">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="val" placeholder="属性内容">
                    </div>
                    <button id="add-pro" type="button " class="btn btn-primary blue-btn">
                        <i class="fa fa-plus " aria-hidden="true "></i>
                    </button>

                </div>
                <table class="table table-hover table-bordered " id="pro-table">
                    <tr>
                        <th>名称</th>
                        <th>型号</th>
                        <th>删除</th>
                    </tr>
                    
                </table>
            </div>

        </div>

    </div>
    <div class="msg "> </div>
    <div class="submit "> 
        <span class="btn-group " role="group " aria-label="... ">
            <button type="button " class="btn btn-primary product-btn " status="1 ">发布</button>
            <button type="button " class="btn btn-default product-btn " status="0 ">存草稿</button>
            <button type="button " class="btn btn-default ">
            <i class="fa fa-file-text-o " aria-hidden="true "></i>
        </button>
     </span>
    </div>
</section>
{% endblock %} {% block js %}
<script src="/static/plugins/tinymce_4.6.6/tinymce/tinymce.min.js "></script>
<script src="/static/plugins/tinymce_4.6.6/tinymce/languages/zh_CN.js "></script>
{% if product %}
<script>
    var items = {{product.parameters|safe}};
    var html =''; 
    for(var i = 0 ; i < items.length; i++){
       html= ' <tr class="parameter_tr ">'+
                '<td class="key ">'+items[i]['key']+'</td>'+
                '<td class="value ">'+items[i]['value']+'</td>'+
                '<td><i class="fa fa-trash-o " aria-hidden="true "></i></td>'+
            '</tr>';
        $('#pro-table>tbody').append(html);
    }
    
</script>
{% endif %}
<script>
    tinymce.init({
    selector: 'textarea',
    height: 500,
    menubar: false,
    plugins: [
        'advlist autolink lists link image charmap print preview anchor textcolor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table contextmenu paste code help'
    ],
    toolbar: 'insert | undo redo |  styleselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
    content_css: [
        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
        '//www.tinymce.com/css/codepen.min.css'
    ]
});
tinymce.addI18n('zh_CN', {

});
</script>
<script src="/static/products/js/new.js " rel="stylesheet "></script>
 
{% endblock %}