    .ware-wrap {
        border-radius: 4px;
        margin:5px;
        position: relative;
    }
    
    .ware-msg {
        border-top:1px solid #f0f0f0;
        background-color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius:4px;
        width: 100%;
        height: 60px;
    }
   
    .ware-img {
        width: 100%;
        border-top-left-radius:4px;
        border-top-right-radius: 4px;
    }
    
    div.select-menu {
        border-bottom: 1px solid #ddd;
        padding: 0px;
        background-color: #fff;
        overflow: hidden;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 2px;
        font-size: 14px;
    }
    
    .select-menu>div {
        padding: 0 10px;
    }
    
    .col-xs-6,
    .col-sm-4 {
        padding:0px;
    }
    
    body {
        background-color:#efefef;
    }
    
    .price {
        color: rgb(201,22,35);
        font-size: 16px;
        margin-left: 2px;
    }
    
    svg.list-btn {
        position: absolute;
        bottom: 2px;
        right: 2px;
    }
    
    .ware_title {
        min-height: 40px;
        max-height: 40px;
        overflow: hidden;
        font-size: 14px;
    }
    
    header {
        background-color: rgb(201,22,35);
        position: relative;
        color: #fff;
        height: 40px;
    }
    
    header i.fa {
        height: 100%;
        line-height: 40px;
        margin: 0 10px;
    }
    
    .active {
        color: #4b9be0;
    }
    
    .list-title {
        width: 40%;
        line-height: 40px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
    }
    
    .btn-sub {
        border: 0px;
        background: none;
        outline: 0px;
    }
    
    li {
        list-style-type: none;
    }
    
    li i {
        height: auto;
    }
    
    #hide-ul {
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        position: absolute;
        left: 100%;
        transform: translateX(-105%);
        top: 46px;
        z-index: 100;
        width: 25%;
        border-radius: 4px;
        font-size: 14px;
        text-align: left;
        padding: 0px;
    }
    
    #hide-ul::before {
        border-style: solid;
        border-width: 0px 6px 6px;
        border-color: transparent;
        border-bottom-color: rgba(0, 0, 0, 0.7);
        content: "";
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        left: 81%;
        transform: translateY(-100%);
    }
    
    .border-box {
        width: 70%;
        border-top: 1px solid #bdbdbd;
        margin: 0 auto;
    }

    