div.submit {
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 8px;
    border: 1px solid #ddd;
}

.my-btn {
    width: 150px;
}

span.btn-group {
    display: inline-block;
}

i.fa-shopping-cart {
    margin-right: 5px;
}

.breadcrumb {
    width: 1080px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0px;
}

.format {
    padding: 12px 12px;
    color: #333;
}

.gray-white {
    background: linear-gradient(to bottom, #fff, #f7f8f9)
}

.form-horizontal .control-label {
    text-align: center;
}

.btn-info {
    margin-right: 100px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

table {
    margin: 20px 0;
}

table:first-child {
    text-align: center;
}

i.fa-trash-o {
    color: #e53935;
}

.fa-trash-o {
    cursor: pointer;
}

.ta-wrap span {
    position: absolute;
    right: 20px;
    bottom: 8px;
    color: #AAA;
}

.alert-text {
    color: red;
    padding: 0 10px;
}