    /* 隐藏的>>>商品型号选择 */
    .hide_box_wrap{
        height: 100%;
        width:100%;
        position: fixed;
        bottom: 0px;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .hide_box_void{
        height: 100%;
        width: 100%;
    }
    .hide_box_content{
        background-color: #fff;
        box-shadow: 0 -3px 6px 1px rgba(0, 0, 0, 0.3),0 -3px 6px 1px rgba(0, 0, 0, 0.2);
       
        width: 100%;
        position: fixed;
        bottom: -100%; 
    }
   
    .thumbnail{
        padding: 0px;
        width: 25%;
        position: absolute;
        margin-left:10px;
        transform:translateY(-35%);
        box-shadow: 0 -3px 6px -1px rgba(0, 0, 0, 0.3),0 -3px 6px -1px rgba(0, 0, 0, 0.2);
    }
    .fa-jpy{
        color:#e53935;
        font-size: 10px;
    }
    .hide_box_price{
        margin:15px 10px 10px 33% ;
    }
    .rule_box{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    margin-right: 10px;
    }
    .rule_wrap{
        padding: 10px;
        border-top: 1px solid #ddd;
    }
    .font-grey{
        margin-bottom: 5px;
    }

    .act_box{
        border-color:#e53935;
    }
    .btn-danger{
        background-color: #e53935;
    }
    .submit .btn{
        width:50%;
        border-radius: 0px;
        margin-top: 20px;
        height: 50px;
    }
.red{
    color:#e53935;
}