{% extends 'base.html' %} {% block menu %} {% endblock %} {% block footer %}{% endblock %} {% block css %}
<link href="/static/sitecontent/css/sitecontent.css" rel="stylesheet"> {% endblock %} {% block content %}
<header>

</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 sidebar">
            <div class="user_photo">
                <img class="img-circle" src="/static/img/list1.jpg">
            </div>
            <div>昵称&管理员</div>
            <ul>
                <li>设置</li>
                <li>设置</li>
                <li>设置</li>
                <li>设置</li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">

        </div>
    </div>
</div>

{% endblock %} {% block js %}<script type="text/javascript " src="/static/sitecontent/js/sitecontent.js"></script>
 {% endblock %}