{% extends 'base.html' %}
{% load i18n %}
{% block pagetitle%}{% trans 'Homepage Content Management' %}{% endblock%}
{% block content %}
<!--
<form action="" method="post"  enctype="multipart/form-data">
    {%csrf_token%}  
    <input type="hidden" name="blockid" id="blockid" value="4" />  
    <input type="hidden" name="method"   value="put" /> 
    <input type="text" name="title" required="required" placeholder="{% trans 'hot product' %}"  value="" /> 
    <input type="text" name="url"  placeholder="url"  value="" /> 
    <input type="text" name="status"  placeholder="status"  value="" /> 
    <input type="text" name="mark"  placeholder="mark"  value="" /> 
    <input type="file" name="pic" placeholder="pic"  accept="image/*" /> 
    <input type="submit"  value="{% trans 'submit' %}" /> 
</form>
-->
<form action="" method="post"  enctype="multipart/form-data">
    {%csrf_token%}   

    <input type="text" name="title" required="required" placeholder="{% trans 'hot product' %}"  value="" /> 
    <input type="text" name="url"  placeholder="url"  value="" /> 
    <input type="text" name="status"  placeholder="status"  value="" /> 
    <input type="text" name="mark"  placeholder="mark"  value="" /> 
    <input type="file" name="pic" placeholder="pic"  accept="image/*" /> 
    <input type="submit"  value="New {% trans 'submit' %}" /> 
</form>


<table class="table">
    {% for blocki in blocks %}
    <tr> 
        <td>{{blocki.id}}</td>
        <td><a target="__blank" href="{% url 'sitecontent:blockitemcontents' %}?new=&blockid={{blocki.id}}">{{blocki.title}}</a></td>
        <td><a target="__blank" href="{{mediaroot}}{{blocki.pic}}">点击查看图片</a></td>
        <td><a target="__blank" href="{{blocki.url}}">{{blocki.url}}</a></td>
        <td>{{blocki.status}}</td>
        <td>{{blocki.mark}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock%}