<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block pagetitle%}商城{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/m_jquery.message.css">
    <link type="text/css" rel="stylesheet" href="/static/css/base.css"> {% block css %} {% endblock %}
</head>

<body>
    {% block menu %}
    <!--页眉-->
    <div class="header-wrap">
        <header class="container clearfix">
           <div class="row">
                <ul class="pull-left">
                        <li>
                            <a href="{% url 'home' %}"> 首页</a>
                        </li>
                        <li>
                            <a href="javascript:;">移动版商城</a>
                        </li>
                    </ul>
                    <ul class="pull-right">
                        <li>
                            <a href="{% url 'shopcar:shopcar_detail'  %}">
                                <i class="fa fa-shopping-cart fa-shop" aria-hidden="true"></i> 购物车
                            </a>
                            <span class="badge">4</span>
                        </li>
        
                        <a href="{% url 'users:login' %}">
                            <li>登录</li>
                        </a>
                        <a href="{% url 'users:register' %}">
                            <li>注册</li>
                        </a>
                        <a href="javascript:;">
                            <li>中国大陆 (中文 / ¥ CNY)</li>
                        </a>
                    </ul>
           </div>
        </header>
    </div>

    <!--菜单开始-->
    <div class="nav-wrap">
        <nav class="container">
            <div class="row">
                <ul class="pull-left">
                    <li class="logo">
                        <img src="/static/img/m1.png" height="30px">
                    </li>
                    <li>
                        <a href="{% url 'category:categories' %}">
                            商品分类
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>优惠
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </li>
                </ul>
                <form id="search-form" class="pull-right">
                    <input class="search" type="text" placeholder="搜索" />
                    <button class="search pull-right" type="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </nav>
    </div>
    <!--菜单结束-->
    {% endblock %} {% block content %} {% endblock %} {% block footer %}
    <footer>
        <div>
            <p>
                <span>联系我们</span>
                <span>关于我们</span>
               <a href="#"><span>友情链接</span></a>
            </p>
            <p>
                <span>版权所有&copy;</span>
            </p>
        </div>
    </footer>
    {% endblock %}
    <script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.message.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script> {% block js %} {% endblock %}
</body>

</html>