<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title2%}商城{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/base.css"> {% block css %} {% endblock %}
    <script type="text/javascript" src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    {% block menu %}
    <!--页眉-->
    <div class="header-wrap">
        <header class="clearfix font-gray">
            <ul class="pull-left">
                <a href="{% url 'home' %}">
                    <li>主页</li>
                </a>
                <a href="javascript:;">
                    <li>购买指南</li>
                </a>
                <li>订单满¥99顺丰包邮，支持支付宝、微信、银联、顺丰到付、分期支付。</li>
            </ul>
            <ul class="pull-right ">
                <a href="javascript:;">
                    <li><i class="fa fa-shopping-cart" aria-hidden="true"></i>购物车<span class="badge">4</span></li>
                </a>
                <a href="javascript:;">
                    <li class="bd-left">登录</li>
                </a>
                <a href="javascript:;">
                    <li class="bd-left">注册</li>
                </a>
                <a href="javascript:;">
                    <li class="bd-left">中国大陆 (简体中文 / ¥ CNY)</li>
                </a>
            </ul>
        </header>
    </div>

    <!--菜单开始-->
    <div class="nav-wrap">
        <nav class="clearfix">
            <ul class="pull-left">
                <li class="logo"><img src="/static/img/logo.png" height="25px"> </li>
                <li>商品分类<i class="fa fa-angle-down" aria-hidden="true"></i></li>
                <li>使用场景<i class="fa fa-angle-down" aria-hidden="true"></i></li>
                <li>优惠<i class="fa fa-angle-down" aria-hidden="true"></i></li>
                <a href="javascript:;">
                    <li>移动版商城</li>
                </a>
            </ul>
            <form id="search-form" class="pull-right">
                <input class="search" type="text" placeholder="搜索商品" />
                <button class="search pull-right" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </nav>
    </div>
    <!--菜单结束-->
    {% endblock %} 
    {% block content %} {% endblock %} 

    {% block js %} {% endblock %}
   
</body> 

</html>