{% extends 'base.html' %} {% block css %}
<link href="/static/css/shophome.css" rel="stylesheet"> {% endblock %} {% block content %}

<div class="aj"> {% if request.user.is_anonymous %}未登录{%else%} {{request.user.username}}{% endif%}</div>
<!-- <div class="swiper-container swiper-container-2 subnav-wrap f12">
    <div class="swiper-wrapper">
        <div class="swiper-slide">


            <a href="{% url 'category:categories' %}">
                <div class="pull-left submenu">
                    <img src="/static/img/if3.png"> 类别
                </div>
            </a>
            <a href="{% url 'product:products' %}">
                <div class="pull-left submenu">
                    <img src="/static/img/if4.png"> 商品
                </div>
            </a>
            <a href="{% url 'product:products' %}?new">
                <div class="pull-left submenu">
                    <img src="/static/img/if5.png"> 创建商品
                </div>
            </a>
            <a href="{% url 'product:products' %}?pic">
                <div class="pull-left submenu">
                    <img src="/static/img/if6.png"> 创建商品图片
                </div>
            </a>
            <a href="{% url 'product:products' %}">
                <div class="pull-left submenu">
                    <img src="/static/img/if20.png"> 商品列表
                </div>
            </a>
            <a href="{% url 'users:logout' %}">
                <div class="pull-left submenu">
                    <img src="/static/img/if7.png"> 退出
                </div>
            </a>
            <a href="{% url 'bill:bills' %}">
                <div class="pull-left submenu">
                    <img src="/static/img/if8.png"> 我的订单
                </div>
            </a>


            <a href="javascript:;">
                <div class="pull-left submenu">
                    <img src="/static/img/if17.png"> 数据
                </div>
            </a>



        </div>

    </div>
    <div class="swiper-pagination2 pagination-2"></div>
</div> -->
{% endblock %} {% block js %} {% endblock %}