{% extends 'base.html' %} {% block css %}
<link href="/static/css/shophome.css" rel="stylesheet">
<link href="/static/css/classify.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.css"> {% endblock %} {% block content %}

{% include 'classify.html' %}
<div class="container">
    <div class="row homepage-hero-module">
            <div class="col-sm-6 col-md-4 demo">
                    <div class="thumbnail in_video">
                        <h3>Thumbnail label</h3>
                        <a href=''>了解更多</a>
                    </div>
                </div>
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="/static/img/clark.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="/static/img/clark.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="poster hidden">
                <img src="/static/img/clark.jpg" alt="">
            </div>
        </div>
        
    </div>
    <div class="main_top row">
            <div class="page-header price">
                    <h3 class="text-center">本周推介</h3>
                  </div>
    </div>
    <div class="row row_margin">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="/static/img/list3.jpg" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p class="price">
                        <i class="fa fa-jpy" aria-hidden="true"></i>
                         20.00
                     </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
                    <div class="thumbnail ">
                      <img src="/static/img/list3.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p class="price">
                           <i class="fa fa-jpy" aria-hidden="true"></i>
                            20.00
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="/static/img/list3.jpg" alt="...">
                          <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p class="price">
                                    <i class="fa fa-jpy" aria-hidden="true"></i>
                                     20.00
                                 </p>
                          </div>
                        </div>
                      </div>
          </div>
</div>

<!-- 功能 -->
<ul class="hide_menu"><a href="{% url 'category:categories' %}">
    <li class="pull-left submenu">
        类别
    </li>
    </a>
    <a href="{% url 'product:products' %}">
    <li class="pull-left submenu">
        商品
    </li>
    </a>
    <a href="{% url 'product:products' %}?new">
    <li class="pull-left submenu">
        创建商品
    </li>
    </a>
    <a href="{% url 'product:products' %}?pic">
    <li class="pull-left submenu">
        创建商品图片
    </li>
    </a>
    <a href="{% url 'product:products' %}">
    <li class="pull-left submenu">
        商品列表
    </li>
    </a>
    <a href="{% url 'users:logout' %}">
    <li class="pull-left submenu">
        退出
    </li>
    </a>
    <a href="{% url 'bill:bills' %}">
    <li class="pull-left submenu">
        我的订单
    </li>
    </a>
    
    <a href=" {% url 'apis:apis' %}">
    <li class="pull-left submenu">
        API
    </li>
    </a>
    <a href=" {% url 'sitecontent:blockcontents' %}?new">
    <li class="pull-left submenu">
       | 网站模块管理
    </li>
    </a>
    <a href=" {% url 'sitecontent:blockitemcontents' %}?new">
        <li class="pull-left submenu">
           |     网站模块内容管理 |
        </li>
        </a></ul>

<div id="comment"></div>
<div class="aj"> {% if request.user.is_anonymous %}未登录{%else%} {{request.user.username}}{% endif%}</div>

{% endblock %} {% block js %}
<script type="text/javascript " src="/static/js/swiper-3.4.2.jquery.min.js "></script>
<script type="text/javascript " src="/static/js/home.js "></script>
<script type="text/javascript " src="/static/js/classify.js "></script> {% endblock %}