<!-- hide div -->
<div class="hide_box_wrap">
    <div class="hide_box_void"></div>
    <div class="hide_box_content">
        <img class="thumbnail" src="/static/img/list4.jpg">
        <div class="hide_box_price">
            <i class="fa fa-jpy" aria-hidden="true"></i>
            <span class="price"> 22.2</span>
            <i class="fa fa-times pull-right" aria-hidden="true"></i>
            <div class="font-grey">库存：39</div>
        </div>
        <div class="rule_wrap">
            <div>
                <div class="font-grey">颜色</div>
                <span class="rule_box">blue</span><span class="rule_box">grey</span>
            </div>
            
        </div>
        <div class="submit">
            <button class="btn btn-info pull-left" type="button">立即购买</button>
            <button class="btn btn-danger" type="button">确定</button>
        </div>
    </div>
</div>