<h4 class="text-center">为你推荐</h4>
<div class="container-fluid">
    <div class="row">

        <div class="col-xs-6 col-sm-4">
            <div class="ware-wrap">
                <a href="#"> <img class="ware_img" src="/static/img/list3.jpg" /></a>
                <div class="ware-msg">
                    <div class="ware_title">
                        <a href="">title</a></div>
                    <div class="recommend"><i class="fa fa-jpy" aria-hidden="true"></i>
                        <span class="price"> 22.2</span></div>
                    <a href="# ">
                        <svg class="list-btn" height="18 " viewBox="0 0 24 24 " width="18 " xmlns="http://www.w3.org/2000/svg ">
                                        <circle cx="8 " cy="21 " fill="none " r="2 " stroke="rgb(201,22,35) " 
                                        stroke-linecap="round " stroke-linejoin="round " stroke-width="1.6 " />
                                        <circle cx="20 " cy="21 " fill="none " r="2 " stroke="rgb(201,22,35) "
                                         stroke-linecap="round " stroke-linejoin="round " stroke-width="1.6 " />
                                        <path d="M5.67,6H23l-1.68,8.39a2,2,0,0,1-2,1.61H8.75a2,2,0,0,1-2-1.74L5.23,2.74A2,2,0,0,0,3.25,1H1 "
                                         fill="none " stroke="rgb(201,22,35) " stroke-linecap="round " stroke-linejoin="round " stroke-width="1.6 " />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="ware-wrap">
                <a href="#"> <img class="ware_img" src="/static/img/list3.jpg" /></a>
                <div class="ware-msg">
                    <div class="ware_title">
                        <a href="">title</a></div>
                    <div class="recommend"><i class="fa fa-jpy" aria-hidden="true"></i><span class="price"> 22.2</span></div>
                    <a href="# ">
                        <svg class="list-btn" height="18 " viewBox="0 0 24 24 " width="18 " xmlns="http://www.w3.org/2000/svg ">
                                    <circle cx="8 " cy="21 " fill="none " r="2 " stroke="rgb(201,22,35) " stroke-linecap="round " stroke-linejoin="round " stroke-width="1.6 " />
                                    <circle cx="20 " cy="21 " fill="none " r="2 " stroke="rgb(201,22,35) " stroke-linecap="round " stroke-linejoin="round " stroke-width="1.6 " />
                                    <path d="M5.67,6H23l-1.68,8.39a2,2,0,0,1-2,1.61H8.75a2,2,0,0,1-2-1.74L5.23,2.74A2,2,0,0,0,3.25,1H1 " fill="none " stroke="rgb(201,22,35) " stroke-linecap="round " stroke-linejoin="round " stroke-width="1.6 " />
                                </svg>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="text-center">
    <button class="btn btn-default btn_more" type="button">加载更多<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>  
     
</div>