{% extends 'base.html' %} {% block css %}

<link href="/static/plugins/easy-tree/easyTree.css" rel="stylesheet">
<link href="/static/category/css/category.css" rel="stylesheet"> {% endblock %} {% block content %}

<div id="main">
</div>
<div class='easy-tree'>
    <ul>
        <li>Example 1</li>
        <li>Example 2
            <ul>
                <li>Example 1</li>
                <li>Example 2</li>
                <li>Example 3</li>
                <li>Example 4</li>
            </ul>
        </li>
        <li>Example 3</li>
        <li>Example 4</li>
        <ul>
</div>
</span> {% endblock %} {% block js %}
<script type="text/javascript " src="/static/js/shop.js "></script>
<script type="text/javascript " src="/static/plugins/easy-tree/easyTree.js "></script>
<script>
    $('.easy-tree').EasyTree({
        addable: true,
        editable: true,
        deletable: true
    });
</script>

{% endblock %}