{% extends "admin/base_site.html" %}
 {% block title %}所有用户{% endblock %} 
 {% load admin_static %}
{% block extrahead %} {{ block.super }} 
<script type="text/javascript" language="javascript" src="{% static 'basedata/js/index.js'%}"></script>
{{ media }}
{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" media="screen" href="{% static "admin/css/grouplist.css" %}" />
{% endblock %}
 
 {% block coltype %}colM{% endblock %} 
 {% block bodyclass %}{{ block.super }} 
 app-{{ opts.app_label}} 
 model-{{ opts.model_name }} 
 change-form{% endblock %} 	
{% block content %}
  {% if group_list %}
 <div class="group_list"> 
 {% for group in group_list %}
  <a href="{% url 'user:modify_group' group.id %}"> 
      <p  class="groupname" >{{ group.name}}</p> 
       </a>
 {% endfor %}
 </div>
 {% else %} 
 <a href="{% url 'user:newgroup' %}"> 
 <p  class="groupname" >还未新建组，点击此处新建</p>
  </a>
 {% endif%}
 {% endblock %} 