{% extends 'base.html' %} {% block title2%}用户登录 {% endblock%} {% block css %}
<link href="/static/css/user.css" rel="stylesheet"> {% endblock %} {% block content %}

<header class="text-center h3" id="app-name">shop App name</header>

<form id="signup-Form" class="loginform" action="" method="post">
    <input class="form-control " type="text" name="email" placeholder="邮箱" id="username" value="{{email}}" />
    <input type="password" class="form-control" id="password" name="password" placeholder="密码" />
    <ul>
        <a href="#">
            <li>找回密码 </li>
        </a>
        <a href="{% url 'users:register' %}">
            <li class="pull-right">注册账号 </li>

        </a>
    </ul>
    <button type="submit" class="btn btn-block btn-hover">登录</button> {% if status == 'error' %}
    <div class="alert alert-danger">{{msg}}</div>
    {% endif %}
</form>

<input type="hidden" name="next" value="{{next_url}}" /> {% endblock %}{% block jslogin %}
{% endblock %} {% block js %}
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script>
    $(document).ready(function() {
        // 在键盘按下并释放及提交后验证提交表单
        $("#signup-Form").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 2
                },
                password: {
                    required: true,
                    minlength: 5
                },
                confirm_password: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                },
                email: {
                    required: true,
                    email: true
                }

            },
            messages: {
                username: {
                    required: "请输入用户名",
                    minlength: "用户名必需由两个字母组成"
                },
                password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 5 个字母"
                },
                confirm_password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 5 个字母",
                    equalTo: "两次密码输入不一致"
                },
                email: "请输入一个正确的邮箱",
            }
        });
    });

</script>

{% endblock %}