{% extends "admin/m_base_site.html" %}
{% block title %}上传个人头像{% endblock %}
 {% load admin_static %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript"  src="/static/admin/js/upload_portrait.js"></script> 
<script type="text/javascript"  src="{% static 'js/common.js' %}"></script> 
{{ media }}
{% endblock %}
{% block extrastyle %}{{ block.super }}
 <link rel="stylesheet" href="/static/admin/css/m_change_portrait.css"/>
{% endblock %} 

{% block content %}
<div class="background_div"> 
</div>
<form id="id_user_form"  action=""  method="POST" enctype="multipart/form-data">
    <ul class="upload_portrait">
    {% csrf_token %}
    <label class="new_Btn">
        {{ form }}
        <div class="pop_ctrl pop_ctrl_upload"><div class="portrait portrait_upload" id="id_portrait_upload" ></div></div> </label>
        <!---<li ><input type="button" id="i_upload" class="upload_portrait_bnt" value="请点击上传头像" /> </li> --->
        <li class="tip">1、请选择真实头像，我们会人工进行审核...</li> 
        <li class="tip">2、建议将头像先裁剪为正方形然后再上传...</li> 
        <li class="tip">3、行走江湖也得有头像...</li> 
        <li><input type="hidden" id="mark" name="mark" value="0" /></li>
    </ul>
    <div class="div_err">
        </div>
</form>
{% endblock %}


{% block custom_footer_menu %}

<script>  
$(document).ready(function() {
      $('.background_div').setBackgroundImg('url(/static/img/heartbeat1.JPG)'); 
       }); 
</script>
{{block.super}} 
 
{% if admin_granted %}
<div id="sub_menu_footer"> 
<div class="sub_menu_list_div"><a class="sub_menu_list_a" href="{% url 'user:grouplist'  %}"><i class="fa fa-sitemap sub_menu_list_i"></i><div class="sub_link_text">组管理</div></a></div> 	
<div class="sub_menu_list_div"><a class="sub_menu_list_a" href="{% url 'user:admin_list_users' %}"><i class="fa fa-users sub_menu_list_i"></i><div class="sub_link_text">用户管理</div></a></div>
<div class="sub_menu_list_div"><a class="sub_menu_list_a" href="{% url 'task:todolist' %}"><i class="fa fa-list sub_menu_list_i"></i><div class="sub_link_text">TODO List</div></a></div> 	 		   
</div>
 {% endif %}
 {% endblock %}

{% block footer %}{% endblock %}