{% extends 'm_base.html' %} {% block title2%}用户注册 {% endblock%} {% block css %}
<link href="/static/css/user.css" rel="stylesheet"> {% endblock %} {% block content %}
<header class="text-center h3" id="app-name">shop App name</header>
{% csrf_token %}
<form id="signup-Form" action="{% url 'users:register' %}" method="post">

    <input class="form-control" type="text" placeholder="用户名" name="username" id="username" value="{{username}}" />

    <input class="form-control" type="email" placeholder="邮箱" name="email" id="email" value="{{email}}" />
    <input class="form-control" type="text" placeholder="邮箱验证码" name="emailcode" id="emailcode" />

    <input class="form-control" type="password" placeholder="密码" name="password" id="password" />

    <input class="form-control" type="password" placeholder="再次输入密码" name="confirm_password" id="confirm_password">

    <button type="submit" class="btn btn-block">注册</button> {% if result %} {% if result == 'ok' %}
    <div class="alert alert-success" role="alert">{{msg}}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">{{msg}}</div>
    {% endif %} {% endif %}
    <div class="msg"></div>
</form>


{% endblock %} {% block js %}

<script type="text/javascript " src="/static/js/shop.js "></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>

<script type="text/javascript " src="/static/appuser/js/register.js "></script>

{% endblock %}